In [1]:
import pandas as pd 
import numpy as np

In [2]:
s_data = pd.read_csv('crime_rate_Spain.csv')
s_data.head(10)

,Location,Year,Crime,Total cases
0,Barcelona,2021,Intentional homicides and consummated murders,36
1,Barcelona,2021,Intentional homicides and attempted murders,137
2,Barcelona,2021,Serious and less serious crimes of injuries an...,2161
3,Barcelona,2021,Kidnapping,8
4,Barcelona,2021,Crimes against freedom and sexual indemnity,2406
5,Barcelona,2021,Sexual assault with penetration,436
6,Barcelona,2021,Other crimes against freedom and sexual indemnity,1970
7,Barcelona,2021,Robbery with violence and intimidation,18360
8,Barcelona,2021,Burglaries with force in homes,16743
9,Barcelona,2021,Robberies with force in homes,10697

In [3]:
np.set_printoptions(suppress = True)

In [4]:
s_data_npy = np.genfromtxt('crime_rate_Spain.csv',
                           delimiter=',',
                           autostrip= True)

In [5]:
s_data.head(10)

,Location,Year,Crime,Total cases
0,Barcelona,2021,Intentional homicides and consummated murders,36
1,Barcelona,2021,Intentional homicides and attempted murders,137
2,Barcelona,2021,Serious and less serious crimes of injuries an...,2161
3,Barcelona,2021,Kidnapping,8
4,Barcelona,2021,Crimes against freedom and sexual indemnity,2406
5,Barcelona,2021,Sexual assault with penetration,436
6,Barcelona,2021,Other crimes against freedom and sexual indemnity,1970
7,Barcelona,2021,Robbery with violence and intimidation,18360
8,Barcelona,2021,Burglaries with force in homes,16743
9,Barcelona,2021,Robberies with force in homes,10697

In [6]:
np.isnan(s_data_npy).sum()

1348

In [7]:
s_data_npy.shape

(673, 4)

In [8]:
np.unique(s_data_npy[:,1], return_counts= True)

(array([2019., 2020., 2021.,   nan]), array([224, 224, 224,   1], dtype=int64))

In [9]:
s_data.describe()

              Year    Total cases
count   672.000000     672.000000
mean   2020.000000    5786.104167
std       0.817105   21325.054204
min    2019.000000       0.000000
25%    2019.000000      39.750000
50%    2020.000000     326.500000
75%    2021.000000    1779.250000
max    2021.000000  205312.000000

In [17]:
s_data[s_data.Year == 2019].sort_values('Total cases', ascending= False)

,Location,Year,Crime,Total cases
223,Madrid,2019,Other criminal offenses,205312
206,Barcelona,2019,Theft,165901
209,Barcelona,2019,Other criminal offenses,157525
220,Madrid,2019,Theft,154217
237,Valencia,2019,Other criminal offenses,68853
...,...,...,...,...
633,Melilla,2019,Kidnapping,0
269,Zaragoza,2019,Kidnapping,0
462,Rioja,2019,Intentional homicides and consummated murders,0
549,Segovia,2019,Kidnapping,0
504,Salamanca,2019,Intentional homicides and consummated murders,0

In [18]:
s_data[s_data.Year == 2020].sort_values('Total cases', ascending= False)

,Location,Year,Crime,Total cases
125,Madrid,2020,Other criminal offenses,181917
111,Barcelona,2020,Other criminal offenses,135216
108,Barcelona,2020,Theft,92393
122,Madrid,2020,Theft,92213
139,Valencia,2020,Other criminal offenses,64822
...,...,...,...,...
647,Melilla,2020,Kidnapping,0
644,Melilla,2020,Intentional homicides and consummated murders,0
437,Granada,2020,Kidnapping,0
479,Rioja,2020,Kidnapping,0
521,Salamanca,2020,Kidnapping,0

In [12]:
s_data[s_data.Year == 2019].value_counts()

Location   Year  Crime                                                          Total cases
Alicante   2019  Burglaries with force in homes                                 9346           1
                 Crimes against freedom and sexual indemnity                    677            1
Salamanca  2019  Drug trafficking                                               62             1
                 Intentional homicides and attempted murders                    2              1
                 Intentional homicides and consummated murders                  0              1
                                                                                              ..
Madrid     2019  Robberies with force in homes                                  11484          1
                 Robbery with violence and intimidation                         15586          1
                 Serious and less serious crimes of injuries and riotous brawl  2402           1
                 Sexual assault with penetration                                243            1
Zaragoza   2019  Vehicle theft                                                  220            1
Length: 224, dtype: int64

- which year had the largest amount of crimes and what was the highest committed crime

In [23]:
s_data[s_data['Location'] == 'Madrid'].sort_values('Total cases', ascending= False)

,Location,Year,Crime,Total cases
223,Madrid,2019,Other criminal offenses,205312
27,Madrid,2021,Other criminal offenses,197970
125,Madrid,2020,Other criminal offenses,181917
220,Madrid,2019,Theft,154217
24,Madrid,2021,Theft,108778
122,Madrid,2020,Theft,92213
218,Madrid,2019,Burglaries with force in homes,19317
217,Madrid,2019,Robbery with violence and intimidation,15586
22,Madrid,2021,Burglaries with force in homes,12262
21,Madrid,2021,Robbery with violence and intimidation,12153
219,Madrid,2019,Robberies with force in homes,11484
119,Madrid,2020,Robbery with violence and intimidation,10688
23,Madrid,2021,Robberies with force in homes,8243
221,Madrid,2019,Vehicle theft,8086
121,Madrid,2020,Robberies with force in homes,7052
25,Madrid,2021,Vehicle theft,6922
123,Madrid,2020,Vehicle theft,6235
120,Madrid,2020,Burglaries with force in homes,3234
16,Madrid,2021,Serious and less serious crimes of injuries an...,2717
26,Madrid,2021,Drug trafficking,2502
124,Madrid,2020,Drug trafficking,2470
222,Madrid,2019,Drug trafficking,2427
18,Madrid,2021,Crimes against freedom and sexual indemnity,2420
212,Madrid,2019,Serious and less serious crimes of injuries an...,2402
114,Madrid,2020,Serious and less serious crimes of injuries an...,2287
214,Madrid,2019,Crimes against freedom and sexual indemnity,2221
20,Madrid,2021,Other crimes against freedom and sexual indemnity,2146
216,Madrid,2019,Other crimes against freedom and sexual indemnity,1978
116,Madrid,2020,Crimes against freedom and sexual indemnity,1976
118,Madrid,2020,Other crimes against freedom and sexual indemnity,1759
19,Madrid,2021,Sexual assault with penetration,274
215,Madrid,2019,Sexual assault with penetration,243
117,Madrid,2020,Sexual assault with penetration,217
113,Madrid,2020,Intentional homicides and attempted murders,98
15,Madrid,2021,Intentional homicides and attempted murders,94
211,Madrid,2019,Intentional homicides and attempted murders,78
112,Madrid,2020,Intentional homicides and consummated murders,38
14,Madrid,2021,Intentional homicides and consummated murders,37
210,Madrid,2019,Intentional homicides and consummated murders,32
213,Madrid,2019,Kidnapping,16
17,Madrid,2021,Kidnapping,13
115,Madrid,2020,Kidnapping,10

In [24]:
s_data[(s_data['Location'] == 'Madrid') & (s_data['Year'] == 2019)].sort_values('Total cases', ascending= False)

,Location,Year,Crime,Total cases
223,Madrid,2019,Other criminal offenses,205312
220,Madrid,2019,Theft,154217
218,Madrid,2019,Burglaries with force in homes,19317
217,Madrid,2019,Robbery with violence and intimidation,15586
219,Madrid,2019,Robberies with force in homes,11484
221,Madrid,2019,Vehicle theft,8086
222,Madrid,2019,Drug trafficking,2427
212,Madrid,2019,Serious and less serious crimes of injuries an...,2402
214,Madrid,2019,Crimes against freedom and sexual indemnity,2221
216,Madrid,2019,Other crimes against freedom and sexual indemnity,1978
215,Madrid,2019,Sexual assault with penetration,243
211,Madrid,2019,Intentional homicides and attempted murders,78
210,Madrid,2019,Intentional homicides and consummated murders,32
213,Madrid,2019,Kidnapping,16